body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  text-align: center;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);}

img {
  margin-top: 50px;
  display: inline-block;
  position: relative;
  width: 190px;
  height: 200px;
  border: double 8px transparent;
  border-radius: 49%;
  background-image: linear-gradient(white, white), radial-gradient(circle at top left, #ff6b01,#78efffe7);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.header {
  margin-top: -20px;
  font-size: 50px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(115, 115, 115));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box1{
  flex-grow: 1;
  display:flexbox;
  border-radius: 25px;
  background: -webkit-linear-gradient(rgb(0, 255, 123), rgba(12, 108, 41, 0.929));
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 80px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
        
}
.box2{
  flex-grow: 1;
  display:flexbox;
  border-radius: 25px;
  background: -webkit-linear-gradient(rgb(0, 162, 255), rgb(6, 77, 85));
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 80px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
        
}
.box3{
  flex-grow: 1;
  display:flexbox;
  border-radius: 25px;
  background: -webkit-linear-gradient(rgb(255, 6, 6), rgba(131, 6, 6, 0.929));
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 80px;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
        
}

.description{
  margin-top: -25px;
  font-size: small;
}
.icons{
  color: aliceblue;
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
  margin-top: -10px;

}
/* Style all font awesome icons */
.fa {
  margin-top: -10px;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
 border-radius: 100%;
}

/* Add a hover effect if you want */
.fa-facebook:hover {
  
  background: #4267B2;
  color: #ffffff;
}
.fa-linkedin:hover {
  
  background: #0077b5;
  color: #ffffff;
}
.fa-github:hover {
  
  background:  #1d1a1a;
  color: #ffffff;
}
.fa-twitter:hover {
  
  background: #1DA1F2;
  color: #ffffff;
}


/* Facebook */
.fa-facebook {
  background: #ffffff;
  color: #4267B2;
  font-size: 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}
.fa-linkedin{
  background: #ffffff;
  color: #0077b5;
  font-size: 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  
}
.fa-github{
  background: #ffffff;
  color:  #1d1a1a;
  font-size: 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  
}
.fa-twitter{
  background: #ffffff;
  color: #1DA1F2;
  font-size: 20px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
  
}

/* Background Animation */

